<p id="notice"><%= notice %></p>

<p>
  <strong>Sitetitle:</strong>
  <%= @blog.siteTitle %>
</p>

<p>
  <strong>Sitedescription:</strong>
  <%= @blog.siteDescription %>
</p>

<p>
  <strong>Siteheader:</strong>
  <%= @blog.siteHeader %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
